@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
}

.section1{
    width: 100%;
    min-height: 830px;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.35)), url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}


.section1 .title div{
    min-width: 380px;
    max-width: 850px;
    margin: 220px auto;
    text-align: center;
    animation-name: slideUp;
    animation-duration: 2s;
}
@keyframes slideUp{
    from{
        transform: translateY(200px);
    }
}

.section2{
    width: 90%;
    margin: 100px auto;
}
/* h1 style (section 2 and section 3) */
.section2 h1 , .section3 h1{
    text-align: center;
    margin: 30px;
}
.section2 main div{
    text-align: center;
}

.section2 .temples .temples-in-btb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.section2 a{
    text-decoration: none;
    color: rgb(219, 97, 16);
}


.section2 .waterfalls .grid-x, .section2 .other-places .grid-x{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.section2 .grid-x div{
    width: 320px;
}
.section2 .other-places .grid-x{
    grid-template-columns: repeat(3, 1fr);
}
.section2 .other-places img{
    transition: all 0.45s;
}
.section2 .other-places img:hover{
    transform: scale(1.1);
}

.section3{
    width: 95%;
    margin: 0px auto;
    font-family: 'Times New Roman', Times, serif;
}
.section3 h1{
    /* edit margin section3 h1 */
    margin-bottom: 50px;
}
.section3 p{
    font-size: 1.09rem;
    text-align: justify;
    margin: 10px 0px;
}
.section3 .things-to-do-in-btb .div-section3{
    margin: 30px 0px;
}
.things-to-do-in-btb .detail img{
    max-height: 600px;
}
.section3 .things-to-do-in-btb .detail{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 50px;
}

.section3 .btn-step{
    text-align: center;
}
.section3 .btn-step img{
    clip-path: circle(30%);
    min-width: 100px;
    max-width: 450px;
}
.section3 button{
    padding: 13px 55px;
    margin: 30px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    background-color: rgb(239, 102, 52);
    color: white;
    font-size: 18px;
    transition: all 0.45s;
}
.section3 button:hover{
    background-color: rgb(116, 48, 2);
    transform: scale(1.1);
}
